
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(130deg, #1e1f28, #2c3e50);
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background-color: #b1ff9e;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    border-radius: 0 0 15px 15px;
    position: sticky;
    top: 0;
    
}

.logo {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 17px;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #ffdd59;
    transform: translateY(-2px);
}

.container {
    background-color: #252836;
    width: 85%;
    max-width: 1000px;
    margin: 35px auto;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.6);
}


.fgh1 {
    text-align: center;
    font-size: 32px;
    color: #ffdd59;
    margin-bottom: 25px;
}

.fgh2 {
    font-size: 27px;
    color: #1dd1a1;
    margin-top: 30px;
    text-align: center;
}

.fg {
    font-size: 19.5px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 20px;
}


.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.imgf1 {
    width: 45%;
    min-width: 280px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}


.table-box {
    background: #1f2230;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    margin-bottom: 25px;
}

.gen-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.gen-table th {
    background: #00b894;
    padding: 12px;
    font-size: 20px;
    border-bottom: 2px solid #16a085;
    text-align: center;
}

.gen-table td {
    padding: 12px;
    background: #2f3542;
    border-bottom: 1px solid #57606f;
    text-align: center;
}

.gen-table tr:hover td {
    background: #3b4250;
}

.gen-table a {
    color: #1dd1a1;
    text-decoration: none;
    font-weight: bold;
}

.gen-table a:hover {
    color: #ffdd59;
}



.ulfg{
    font-size: 20px;
}


.login-body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #1c1d29, #13141d, #202331);
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    background: #1a1c27;
    padding: 40px 35px;
    width: 350px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255,255,255,0.08);
}


.login-container h1 {
    margin-bottom: 25px;
    color: #ffdd59;
    font-family: monospace;
}

.login-container input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background: #2a2d3a;
    color: white;
}


.login-container button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #1dd1a1;
    color: white;
    transition: 0.3s;
}

.login-container button:hover {
    background: #10ac84;
}


.signup-text {
    font-size: 14px;
    color: #cccccc;
}

.signup-text a {
    color: #ffdd59;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 17px;
    background-color: #0000004d;
}